@font-face {
    font-family:Inter ;
    src: url(./fonts/Inter-VariableFont_opsz\,wght.ttf);
}

*{
    margin: 1;
    padding: 0;
    font-family: Inter;
}
 
 
 
 
 
 .logo-viato{
    width:167px;
    height: 32px;
 }

.menu { 
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
   justify-content: space-around;
   width: 35%;
   background-color: rgb(255, 255, 255);
}
.pp{
    color: darkgray;

}
.categorias {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
   width: 40%;
   
   background-color: rgb(255, 255, 255);
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
ul{
    display: flex;
    align-items: center;list-style-type: none;

}
.banner{
    height: 700px;
    width: 1800px; 
    background-image: url("assets/banner.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    flex-direction: column;
}
.titulo-banner{
    display: flex;
    align-items: center;
    align-items: center;
    flex-direction: column;
    

    

}
h1{
    font-size: 50px;
}
.orgcardizin{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 224.34px;
    height: 50px;
    gap: 10px;
}

.btninvesivel{
    width: 50px;
    height: 50px;
    border: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: baseline;
    background-color: #ffff;
    border: 1px solid rgb(194, 190, 190);
    
}

.textocardizin{
  color: black;
  font-size: 16px;
}

.divmaior{
    background-color: rgb(253, 253, 253);
    width: 850px;
    height: 80px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.btnsearch{
    border-radius: 15px;
    width: 100px;
    height: 50px;
    font-size: 15px;
    margin: 10px;
    background-color: #EB662B;
    color: #ffff;
    border: none;

}
.ppp{
width: 200px;
height: 200px;
}
.aberturaestrutura{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;

}
.titulowhy{

    display: flex;
 margin-left: 410px;
 margin-top: 80px;
}
.whytamanho{
    font-size: 35px;
}
.corsearch{
    color: #ffff;
}
.alinhamentotren{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    
}
.titulotren{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
   
}
.trentamanho{
    font-size: 35px;
}
.trentxteimg{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.pontos{
    display: flex;
    flex-direction: row;
    justify-content: center;
   
}
.pontog{
    width: 200px;
}
.quadrado03{
    color: rgb(59, 61, 61);
    display: flex;
  
}
.colunaslinhas{
width: 300px;
}

.tamanholinhahr{
    width: 200px;
    justify-content: flex-start;
    
}

.card-texto-segundo{

   display: flex;

}

.estrutura-102{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px;
}

.estrutura103{
    display: flex;
    flex-direction: row;
justify-content: space-evenly;
}


.card{
    border: 1px solid rgb(224, 211, 211);
}